*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

main article, 
footer article{
    width: 75%;
}

header{
    background-image: url(../img/jumbo.png);
    background-size: 100%;
    height: 40rem;
    padding-top: 1.5rem;
    color: white;
}

.flex-container{
    display: flex;
}

header>nav{
    width: 75%;
    height: 2.5rem;
    margin: auto;
    margin-bottom: 1.5rem;
    font-size: 1.1rem;
}

nav div, nav ul{
    justify-content: center;
    align-items: center;
    height: 100%;
}

nav .logo, nav .login{
    flex-basis: 30%;
}

div.logo{
    justify-content: flex-start;
}

div.login{
    justify-content: flex-end;
}

#log-button{
    background-color: white;
    padding: 0.7rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 18px;
}

nav .menu-nav{
    flex-basis: 70%;
    justify-content: space-around;
}

ul{
    list-style-type: none;
}

.main-header{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2.5rem auto;
    width: 60rem;
    height: 25rem;
    padding: 7rem;
    text-align: center;
    font-size: 1.2rem;
}

header h1{
    font-size: 3rem;
    margin-bottom: 2rem;
}

p{
    line-height: 1.8rem;
}

div.header-buttons{
    flex-direction: row;
    margin-top: 1.5rem;
}

.header-buttons button{
    margin: 1.5rem;
    padding: 0.7rem 1.3rem;
    border-radius: 22px;
    font-size: 1.15rem;
    border: none;
}

button#black-button{
    color: white;
    background-color: #23272a;
}


.inverted-divider{
    transform: rotate(180deg);
}

.content>article{
    padding: 3.5rem 0;
}

main section:first-child{
margin-top: 5rem;
}

/* Trovare un'alternativa per il margin (display-block)*/
.gray-bg{
    margin: -1rem;
    background-color: #dedede;
}

.reverse{
    flex-direction: row-reverse;
}

article.example{
    justify-content: center;
    margin: auto;
}

main h2{
    font-size: 2.7rem;
    margin-bottom: 1.8rem;
}

.big-col{
    flex-basis: 60%;
}

.small-col{
    flex-basis: 40%;
    padding: 2.5rem 1.8rem;
    justify-content: center;
}

.small-col p{
    font-size: 1.15rem;
}

.col-text{
    width: 60%;
}

/* Da togliere in seguito width in un'altra classe e color */
.main-example{
    background-color: green;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 3rem 0;
    margin-bottom: 5rem;
}

/* Da togliere in seguito border, modificare bene la bg-image */
.stars-bg{
    width: 30%;
    height: 2.5rem;
    text-align: center;
    line-height: 2.5rem;
    border: 1px solid black;
    background-image: url(../img/stars.svg);
    background-size: cover;
    background-position: bottom;
}

footer section{
    background-color: #23272a;
}

/* Da togliere in seguito la width generale */
.main-footer{
    height: 35rem;
    justify-content: center;
    align-items: center;
    margin: auto;
}

/* Da togliere in seguito border e migliorare height*/
.main-footer>div{
    height: 85%;
    border: 1px solid black;
}

/* Da togliere in seguito color */
.main-footer .left-part{
    flex-basis: 25%;
    background-color: #f08080;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

/* Da togliere in seguito */
.left-part>div{
    border: 1px solid magenta;
}

/* Da togliere in seguito color*/
.right-part>div{
    flex-basis: 25%;
    border: 1px solid darkblue;
}

/* Da togliere in seguito color */
.main-footer .right-part{
    flex-basis: 75%;
    background-color: #20b2aa;
}

.right-part>.info{
    flex-direction: column;
    align-items: center;
}


hr{
    color: white;
}

/* Da togliere in seguito color, width generale*/
.secondary-footer{
    background-color: #7fffd4;
    height: 5rem;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 3rem;
}